@import 'utils/functions';
@import 'utils/variables';
@import 'utils/mixins';
@import '../../../sass/components/responsive-square';
@import '../file-input';

:host {
	@extend .file;
}

:host(.file--loading) {
	@extend .file--loading;
}

.file {
	@include responsive-square;
	display: block;
	overflow: hidden;
	border-radius: $border-radius;
	border: $border;

	&__overlay {
		position: absolute;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		display: grid;
		place-content: center;

		&--transparent {
			background-color: hsla(0, 0%, 0%, 0.4);
		}
	}

	&__actions {
		position: absolute;
		top: 0px;
		right: 0px;
		left: 0px;
		z-index: 2;
		display: flex;
		justify-content: flex-end;
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 1) 0%,
			rgba(0, 0, 0, 0) 100%
		);
		transform: translateY(-100%);
		transition: transform 300ms ease-in;

		@media (hover: none) {
			transform: translateY(0%);
		}
	}

	&:hover &__actions,
	&__actions:hover {
		transition-timing-function: ease-out;
		transform: translateY(0%);
	}

	&__preview {
		z-index: 1;
		object-fit: cover;
		height: 100%;

		&--small {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			height: 60%;
			width: 60%;
		}
	}

	&__progress {
		margin: 0px;
	}
}
