@import 'utils/functions';
@import 'utils/variables';
@import 'utils/mixins';

:host {
	@extend .file-input;
}

:host(.file-input--loading) {
	@extend .file-input--loading;
}

:host-context(.is-hovered-with-files) {
	pointer-events: none;
}

.file-input {
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(200px);
	height: rem(200px);
	border-radius: rem(9px);
	overflow: hidden;
	position: relative;
	background-color: var(--bg-color-1);
	border: rem(2px) solid var(--bg-color-6);

	&__actions {
		position: absolute;
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 1) 0%,
			rgba(0, 0, 0, 0) 100%
		);
		top: 0px;
		left: 0px;
		height: 30%;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		padding: rem(5px);
		transform: translateY(-100%);
		transition: transform 300ms ease-in;
	}

	&:hover > &__actions,
	&__actions:hover {
		transition-timing-function: ease-out;
		transform: translateY(0);
	}

	&__preview {
		width: 100%;
		height: 100%;
		object-fit: cover;

		&--with-external-preview {
			width: 60%;
			height: 60%;
		}
	}

	&__loader {
		position: absolute;
	}

	@media (hover: none) {
		&__actions {
			transform: translateY(0);
		}
	}
}
