@import '../../sass/utils/functions';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.select__item {
  cursor: pointer;
  margin-bottom: rem(10px);

  &:active {
    transform: scale(.9);
  }
}
