<form
	[formGroup]="form"
	class="complete-login"
	(ngSubmit)="completeCreatingAccount()"
>
	<section class="complete-login__section">
		<styled-input>
			<input styledInput formErrors type="number" formControlName="balance" />

			<span class="label">Aktualny balans pieniędzy</span>
		</styled-input>

		<form-errors
			class="complete-login__errors"
			[control]="form.get('balance')"
		></form-errors>

		<p class="complete-login__description paragraph-description">
			Wartości tej <strong>nie można</strong> póżniej zmienić !
			<strong>Upewnij się</strong>, że została podana prawidłowa wartość.
		</p>
	</section>

	<section formGroupName="settings">
		<zippy>
			<zippy-static toggleOnClick="false">
				<section class="complete-login__section">
					<checkbox formControlName="autoEndPeriod" labelId="auto-end-period"
						>Automatyczne zakańczanie okresu</checkbox
					>

					<p class="complete-login__description paragraph-description">
						Jeśli chcesz aby twój okres został automatycznie zakańczany zaznacz
						tą opcję.
					</p>
				</section>
			</zippy-static>

			<zippy-content [state]="form.get('settings.autoEndPeriod').value">
				<section class="complete-login__section">
					<mat-form-field class="complete-login__select" appearance="fill">
						<mat-label>Automatycznie zakończ za</mat-label>
						<mat-select formControlName="autoEndAfter">
							<mat-option [value]="7"> Tydzień </mat-option>
							<mat-option [value]="30"> Miesiąc </mat-option>
						</mat-select>
					</mat-form-field>

					<p class="complete-login__description paragraph-description">
						Wybierz co jaki czas okres będzie zakańczany.
					</p>
				</section>
			</zippy-content>
		</zippy>
	</section>

	<button
		[disabled]="form.invalid"
		type="submit"
		class="btn btn--block btn--secondary"
	>
		Zapisz
	</button>
</form>
