<form
	[formGroup]="form"
	class="complete-login"
	(ngSubmit)="completeCreatingAccount()"
>
	<section class="complete-login__section">
		<styled-input>
			<input styledInput type="number" formControlName="balance" />

			<span class="label">Aktualny balans pieniędzy</span>
		</styled-input>

		<p class="complete-login__description">
			Wartości tej nie można potem zmienić ! Upewnij się że została podana
			prawidłowa wartość
		</p>
	</section>

	<section formGroupName="settings">
		<zippy>
			<zippy-static toggleOnClick="false">
				<section class="complete-login__section">
					<input
						type="checkbox"
						id="autoEndPeriod"
						formControlName="autoEndPeriod"
						#autoEndPeriod
						(input)="autoEndPeriod.checked ? zippy.expand() : zippy.collapse()"
					/>
					<label for="autoEndPeriod"
						>&nbsp; Automatyczne zakańczanie okresu</label
					>

					<p class="complete-login__description">
						Jeśli chcesz aby twój okres został automatycznie zakańczany zaznacz
						tą opcję
					</p>
				</section>
			</zippy-static>

			<zippy-content #zippy>
				<section class="complete-login__section">
					<app-select class="settings__item" formControlName="autoEndAfter">
						<span class="label">Automatycznie zakończ za</span>
						<app-select-item value="7" viewValue="Tydzień">
							Tydzień
						</app-select-item>
						<app-select-item value="30" viewValue="Miesiąc">
							Miesiąc
						</app-select-item>
					</app-select>

					<p class="complete-login__description">
						Wybierz co jaki czas okres będzie zakańczany
					</p>
				</section>
			</zippy-content>
		</zippy>
	</section>

	<button type="submit" class="btn btn--block btn--secondary">Zapisz</button>
</form>
{{ form.value | json }}
