@import '../../sass/utils/functions';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.complete-login {
	&__section {
		margin-bottom: rem(30px);
	}

	&__select {
		padding: rem(2px);
	}

	&__errors {
		margin-top: rem(10px);
	}
}
