@import '../../sass/utils/functions';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';


.complete-login {

  &__section {
    margin-bottom: rem(40px);
  }

  &__select {
    width: 100%;
  }

  &__errors {
    margin-top: rem(10px);
  }
}
