@import 'utils/functions';
@import 'utils/variables';
@import 'utils/mixins';

.loader-container {
	&--fixed {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&--centered {
		@include centerElementAbsolute();
	}
}

.loader {
	border-radius: 100%;
	position: relative;
	border: rem(15px) var(--bg-color-1) solid;
	border-top: rem(15px) var(--color-secondary) solid;

	animation: spin infinite 1s linear;
}
