<ng-container *ngIf="data$ | async as data; else fixedLoader">
	<zippy [autoToggle]="false" #zippy>
		<section class="zippy-static-content">
			<button
				appButton
				btnType="icon"
				btnColor="secondary"
				(click)="zippy.toggle()"
			>
				<i class="fas fa-filter"></i>
			</button>
		</section>

		<zippy-content>
			<form
				class="filters"
				[formGroup]="filters"
				(ngSubmit)="applyFilters()"
				(reset)="removeFilters()"
			>
				<form-field class="filters__date--start">
					<input
						[datepicker]="datepickerStart"
						formFieldInput
						type="text"
						formControlName="earliestDate"
					/>
					<form-field-label>Data początkowa</form-field-label>
					<form-field-prefix>
						<button
							appButton
							btnType="icon"
							[triggerDatepicker]="datepickerStart"
							type="button"
						>
							<i class="fas fa-calendar-alt"></i>
						</button>
					</form-field-prefix>

					<datepicker #datepickerStart></datepicker>
				</form-field>

				<form-field class="filters__date--end">
					<input
						[datepicker]="datepickerEnd"
						formFieldInput
						type="text"
						formControlName="latestDate"
					/>
					<form-field-label>Data końcowa</form-field-label>
					<form-field-prefix>
						<button
							appButton
							btnType="icon"
							[triggerDatepicker]="datepickerEnd"
							type="button"
						>
							<i class="fas fa-calendar-alt"></i>
						</button>
					</form-field-prefix>

					<datepicker #datepickerEnd></datepicker>
				</form-field>

				<form-field>
					<form-field-label>Wartość od</form-field-label>
					<input formFieldInput type="number" formControlName="lowestAmount" />
				</form-field>

				<form-field>
					<form-field-label>Wartość do</form-field-label>
					<input formFieldInput type="number" formControlName="highestAmount" />
				</form-field>

				<form-field>
					<form-field-label> Grupa </form-field-label>

					<app-select formControlName="group">
						<select-option value="">Wszystkie</select-option>
						<select-option
							*ngFor="let group of data.groups"
							[value]="group.id"
							>{{ group.name }}</select-option
						>
					</app-select>
				</form-field>

				<div>
					<label class="filters__transaction-type">
						<input
							type="radio"
							name="type"
							formControlName="type"
							value=""
							checked
						/>
						Wszystkie
					</label>

					<label class="filters__transaction-type">
						<input
							type="radio"
							name="type"
							formControlName="type"
							value="expenses"
						/>
						Tylko wydatki
					</label>

					<label class="filters__transaction-type">
						<input
							type="radio"
							name="type"
							formControlName="type"
							value="incomes"
						/>
						Tylko przychody
					</label>
				</div>

				<div class="filters__actions">
					<button
						class="filters__action"
						appButton
						btnColor="primary"
						[disabled]="!hasFilters"
					>
						Filtruj
					</button>
					<button
						*ngIf="isFiltered"
						class="filters__action"
						type="reset"
						appButton
					>
						Usuń filtry
					</button>
				</div>
			</form>
		</zippy-content>
	</zippy>

	<ul *ngIf="!isLoading; else loader" class="transactions">
		<ng-container
			*ngIf="data.transactions.length > 0; else transactionsNotFound"
		>
			<li
				class="transactions__transaction-container"
				*ngFor="let transaction of data.transactions"
			>
				<transaction-card [transaction]="transaction"></transaction-card>
			</li>
		</ng-container>
	</ul>
</ng-container>

<ng-template #fixedLoader>
	<progress-spinner fixed></progress-spinner>
</ng-template>

<ng-template #loader>
	<progress-spinner class="transactions__progress-spinner"></progress-spinner>
</ng-template>

<ng-template #transactionsNotFound>
	<p style="text-align: center">Nie znaleziono żadnych transakcji.</p>
</ng-template>
