@import '../../sass/utils/functions';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

$filters-zippy-height: rem(45px);

:host {
	display: block;
}

cdk-virtual-scroll-viewport {
	height: calc(
		100vh - #{$globalVerticalPadding} * 2 - #{$mainHeaderHeight} - #{$filters-zippy-height} -
			env(safe-area-inset-bottom)
	);

	@media (max-width: $mainNavVisibilityBreakpoint) {
		height: calc(
			100vh - #{$globalVerticalPadding} * 2 - #{$mainNavHeight} - #{$mainHeaderHeight} -
				#{$filters-zippy-height} - env(safe-area-inset-bottom)
		);
	}
}

.transactions {
	margin-top: rem(10px);
	z-index: 1;

	&__transaction-container {
		border-radius: rem(15px);
		overflow: hidden;

		&:not(:last-child) {
			margin-bottom: rem(10px);
		}
	}

	&__progress-spinner {
		margin: rem(20px) auto;
	}
}

.filters {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: rem(10px);
}
