@import '../../../sass/utils/functions';
@import '../../../sass/utils/variables';
@import '../../../sass/utils/mixins';

$animation: 1.6s linear infinite;

:host {
	display: block;
	position: relative;
}

:host(.progress-spinner--fixed) {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.progress-spinner {
	&--infinity {
		animation: rotate $animation;
	}

	&--copy {
		z-index: -1;
		top: 0px;
		left: 0px;
		position: absolute;
	}

	&--infinity &__circle {
		animation: circle-animation $animation;
	}

	&--progress &__circle {
		transition: stroke-dashoffset 200ms linear;
	}

	&--copy &__circle {
		stroke: var(--bg-color-24);
	}

	&__circle {
		fill: transparent;
		stroke: var(--color-secondary);
		stroke-linecap: round;
		stroke-dasharray: var(--stroke-dasharray);
		stroke-dashoffset: var(--stroke-dashoffset);
		transform-origin: 50% 50%;
	}

	&__percentage {
		fill: var(--text-color-0);
	}
}

@keyframes circle-animation {
	0%,
	25% {
		stroke-dashoffset: var(--stroke-dasharray);
		transform: rotate(0);
	}

	50%,
	75% {
		stroke-dashoffset: var(--stroke-dashoffset);
		transform: rotate(45deg);
	}

	100% {
		stroke-dashoffset: var(--stroke-dasharray);
		transform: rotate(360deg);
	}
}

@keyframes rotate {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}
