<form
	[formGroup]="form"
	class="transaction"
	*ngIf="data$ | async as data; else loader"
>
	<styled-input class="transaction__detail" appearance="filled">
		<input formErrors styledInput type="number" formControlName="amount" />
		<span styledInputSuffix>PLN</span>
		<span class="label">Wartość</span>
	</styled-input>

	<form-errors
		class="transaction__error"
		[control]="form.get('amount')"
	></form-errors>

	<ng-container *ngIf="data.groups.length; else noGroupsInfo">
		<mat-form-field class="transaction__detail" appearance="fill">
			<mat-label>Grupa</mat-label>
			<mat-select formControlName="group">
				<mat-option> Wybierz </mat-option>
				<mat-option *ngFor="let group of data.groups" [value]="group.id">
					{{ group.name }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<form-errors
			class="transaction__error"
			[control]="form.get('group')"
		></form-errors>
	</ng-container>

	<ng-template #noGroupsInfo>
		<a
			[routerLink]="Pages.AddGroup"
			class="link link--danger transaction__error"
			>Dodaj grupę, aby dodać transakcję !</a
		>
	</ng-template>

	<mat-form-field class="transaction__detail" appearance="fill">
		<mat-label>Wybierz datę</mat-label>
		<input
			[min]="data.period.date.start.toDate()"
			matInput
			[matDatepicker]="picker"
			formControlName="date"
		/>
		<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-datepicker #picker></mat-datepicker>
	</mat-form-field>

	<form-errors
		class="transaction__error"
		[control]="form.get('date')"
	></form-errors>

	<styled-input class="transaction__detail" appearance="filled">
		<textarea
			formErrors
			styledInput
			type="text"
			formControlName="description"
		></textarea>
		<span class="label">Opis transakcji</span>
	</styled-input>

	<form-errors
		class="transaction__error"
		[control]="form.get('description')"
	></form-errors>

	<div class="transaction__actions">
		<button
			[disabled]="form.invalid"
			(click)="addTransaction()"
			class="btn btn--secondary btn--block transaction__action"
		>
			Dodaj
		</button>
	</div>
</form>

<ng-template #loader>
	<loader [isFixed]="true"></loader>
</ng-template>
