@import '../../sass/utils/functions';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.group-icon {
  border-radius: rem(15px);
  width: rem(50px);
  height: rem(50px);
  text-align: center;
  line-height: rem(50px);
  font-size: rem(20px);
  color: #F8F1FE;

  &--income {
    background-color: var(--color-success);
  }

  &--outcome {
    background-color: var(--color-danger);
  }

  &--neutral {
    background-color: var(--color-secondary);
  }
}
