<!-- <img class="not-found" src="/assets/images/404_not_found.svg" alt="404" /> -->

<form>
	<input
		name="progress"
		type="range"
		value="0"
		max="100"
		step="1"
		[(ngModel)]="value"
	/>
	<label>
		Displays progress ?
		<select name="mode" [(ngModel)]="mode">
			<option value="infinity">Infinite</option>
			<option value="progress">Progress</option>
		</select>
	</label>

	<label>
		<input
			type="checkbox"
			name="display-progress"
			[(ngModel)]="displayProgress"
		/>
		Progress
	</label>
</form>

{{ value }}, {{ mode }}

<progress-spinner
	[displayProgress]="displayProgress"
	radius="45"
	[mode]="mode"
	[value]="value"
	[max]="maxValue"
>
</progress-spinner>
