<form
	class="filters"
	[formGroup]="filters"
	(reset)="reset()"
	(ngSubmit)="apply()"
>
	<ng-container *ngIf="groups$ | async as groups; else progressSpinner">
		<div class="filters__dialog-actions">
			<button type="button" appButton btnType="icon" (click)="close()">
				<i class="far fa-times-circle"></i>
			</button>
		</div>
		<form-field class="filters__date--start">
			<input
				[datepicker]="datepickerStart"
				formFieldInput
				type="text"
				formControlName="earliestDate"
			/>
			<form-field-label>Data początkowa</form-field-label>
			<form-field-prefix>
				<button
					appButton
					btnType="icon"
					[triggerDatepicker]="datepickerStart"
					type="button"
				>
					<i class="fas fa-calendar-alt"></i>
				</button>
			</form-field-prefix>

			<datepicker #datepickerStart></datepicker>
		</form-field>

		<form-field class="filters__date--end">
			<input
				[datepicker]="datepickerEnd"
				formFieldInput
				type="text"
				formControlName="latestDate"
			/>
			<form-field-label>Data końcowa</form-field-label>
			<form-field-prefix>
				<button
					appButton
					btnType="icon"
					[triggerDatepicker]="datepickerEnd"
					type="button"
				>
					<i class="fas fa-calendar-alt"></i>
				</button>
			</form-field-prefix>

			<datepicker #datepickerEnd></datepicker>
		</form-field>

		<form-field>
			<form-field-label>Wartość od</form-field-label>
			<input formFieldInput type="number" formControlName="lowestAmount" />
		</form-field>

		<form-field>
			<form-field-label>Wartość do</form-field-label>
			<input formFieldInput type="number" formControlName="highestAmount" />
		</form-field>

		<form-field>
			<form-field-label> Grupa </form-field-label>

			<app-select formControlName="group">
				<select-option value="">Wszystkie</select-option>
				<select-option *ngFor="let group of groups" [value]="group.id">{{
					group.name
				}}</select-option>
			</app-select>
		</form-field>

		<div>
			<label class="filters__transaction-type">
				<input
					type="radio"
					name="type"
					formControlName="type"
					value="#ignore#"
					checked
				/>
				Wszystkie
			</label>

			<label class="filters__transaction-type">
				<input
					type="radio"
					name="type"
					formControlName="type"
					value="expenses"
				/>
				Tylko wydatki
			</label>

			<label class="filters__transaction-type">
				<input
					type="radio"
					name="type"
					formControlName="type"
					value="incomes"
				/>
				Tylko przychody
			</label>
		</div>

		<div class="filters__actions">
			<button
				class="filters__action"
				appButton
				btnColor="primary"
				[disabled]="!hasFilters && filters.pristine"
			>
				Filtruj
			</button>
			<button
				[disabled]="!hasFilters"
				class="filters__action"
				type="reset"
				appButton
			>
				Usuń filtry
			</button>
		</div>
	</ng-container>
</form>
<ng-template #progressSpinner>
	<progress-spinner></progress-spinner>
</ng-template>
