@import '../../sass/utils/functions';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

$grid-gap: rem(10px);

.filters {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: $grid-gap;
	padding: rem(3px);
	background-color: var(--bg-color-1);
	padding: rem(10px);
	border-radius: rem(3px);
	width: min(#{rem(700px)}, 100%);
	min-width: rem(300px);
	min-height: rem(300px);

	progress-spinner {
		grid-column: span 2;
		place-self: center;
	}

	&__transaction-type {
		display: block;

		&:not(:last-child) {
			margin-bottom: rem(10px);
		}
	}

	&__dialog-actions {
		display: flex;
		justify-content: flex-end;
		grid-column: span 2;
	}

	&__actions {
		display: flex;
		grid-column: span 2;
	}

	&__action {
		width: 100%;

		&:not(:last-child) {
			margin-right: $grid-gap;
		}
	}

	&__error {
		font-size: rem(14px);
		color: var(--color-danger);
		grid-column: 1 / -1;
	}

	@media (max-width: 425px) {
		&__date {
			grid-column: span 2;
		}
	}
}
