@import '../../sass/utils/functions';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';


.profile {
  &__heading {
    margin-bottom: $headingSpacing;
  }

  &__description {
    margin-bottom: $paragraphSpacing;
  }

  &__section {
    margin-bottom: rem(50px);
  }
}
