<section class="profile" *ngIf="data$ | async as data; else loader">
	<h2 class="profile__heading">Witaj, {{ data.user.name }} !</h2>
	<p class="paragraph-description">{{ data.user.email }}</p>

	<section
		class="profile__section"
		*ngIf="!data.period.date.end; else reOpenPeriod"
	>
		<h3 class="profile__heading">Zakończ obecny okres rozliczeniowy</h3>

		<p class="profile__description paragraph-small paragraph-subtle">
			Zakończ ręcznie obecny okres rozliczeniowy. Masz czas do północy na
			ponowne otwarcie okresu.
		</p>

		<button
			appButton
			btnColor="primary"
			class="profile__btn"
			(click)="endPeriod()"
		>
			Zakończ
		</button>
	</section>

	<ng-template #reOpenPeriod>
		<section class="profile__section">
			<h3 class="profile__heading">
				Ponownie otwórz obecny okres rozliczeniowy
			</h3>

			<p class="profile__description paragraph-small paragraph-subtle">
				Otwórz ponownie obecny okres rozliczeniowy. Masz czas do północy.
			</p>

			<button
				appButton
				btnColor="primary"
				class="profile__btn"
				(click)="openPeriod()"
			>
				Otwórz
			</button>
		</section>
	</ng-template>

	<section class="profile__section">
		<h3 class="profile__heading">Wyloguj się</h3>

		<p class="profile__description paragraph-small paragraph-subtle">
			Wyloguj się z obecnego konta.
		</p>

		<button
			appButton
			btnColor="primary"
			class="profile__btn"
			(click)="logOut()"
		>
			Wyloguj się
		</button>
	</section>

	<section class="profile__section">
		<h3 class="profile__heading">Ustawienia</h3>

		<p class="profile__description paragraph-small paragraph-subtle">
			Dokonaj zmian w działaniu aplikacji.
		</p>

		<a [routerLink]="Pages.AppSettings" class="link">Ustawienia</a>
	</section>

	<section class="profile__section">
		<h3 class="profile__heading">Zestawienie wydatków</h3>

		<p class="profile__description paragraph-small paragraph-subtle">
			Zobacz zestawienie swoich wydatków z wcześniejszych okresów.
		</p>

		<a [routerLink]="Pages.Periods" class="link">Okresy rozliczeniowe</a>
	</section>
</section>

<ng-template #loader>
	<loader [isFixed]="true"></loader>
</ng-template>
