<section class="profile" *ngIf="data$ | async as data">
	<h2 class="profile__heading">Witaj, {{ data.user.name }} !</h2>

	<section
		class="profile__section"
		*ngIf="!data.period.date.end; else reOpenPeriod"
	>
		<h3 class="profile__heading">Zakończ obecny okres rozliczeniowy.</h3>

		<p class="profile__description">
			Jeśli chcesz ręcznie zakończyc obecny okres rozliczeniowy kliknij w
			przcisk poniżej. Twoje ustawienie dotyczące automatycznego zakańczania
			zostanie przeliczone z uwzględnieniem startu nowego okresu.
		</p>

		<button (click)="endPeriod()" class="btn btn--secondary btn--block">
			Zakończ
		</button>
	</section>

	<ng-template #reOpenPeriod>
		<section class="profile__section">
			<h3 class="profile__heading">
				Ponownie otwórz obecny okres rozliczeniowy
			</h3>

			<p class="profile__description">
				Jeśli zakończyłeś obecny okres rozliczeniowy, możesz otworzyć go
				ponownie przyciskiem poniżej. Pamięta, że masz czas do północy.
			</p>

			<button (click)="openPeriod()" class="btn btn--secondary btn--block">
				Otwórz
			</button>
		</section>
	</ng-template>

	<section class="profile__section">
		<h3 class="profile__heading">Wyloguj się</h3>

		<p class="profile__description">
			Wyloguj się z obecnego konta.
		</p>

		<button class="btn btn--warning btn--block" (click)="logOut()">
			Wyloguj się
		</button>
	</section>

	<section class="profile__section">
		<h3 class="profile__heading">Ustawienia</h3>

		<p class="profile__description">
			Jeśli chcesz dokonac zmian w działaniu aplikacji, kliknij w przycisk
			poniżej.
		</p>

		<a routerLink="/app-settings" class="link">Ustawienia</a>
	</section>

	<section class="profile__section">
		<h3 class="profile__heading">Zestawienie wydatków</h3>

		<p class="profile__description">
			Zobacz zestawienie swoich wydatków z wcześniejszych okresów.
		</p>

		<a routerLink="/periods" class="link">Okresy rozliczeniowe</a>
	</section>

	<!-- <section class="profile__section">
		<h3 class="profile__heading">Usuń konto</h3>

		<p class="profile__description">
			Jeśli chcesz usunąć konto i skasować dane które znajdują się na naszych
			serweach kliknij w przycisk poniżej. Pamiętaj jednak, że ta akcja jest
			<strong>nieodwracalna</strong>. Ta opcja nie jest równozanczna z
			usunięciem konta zewnętrznego dostawcy (np: Google).
		</p>

		<button (click)="deleteUserAccount()" class="btn btn--danger btn--block">
			Usuń
		</button>
	</section>

	<section class="profile__section">
		<h3 class="profile__heading">Usuń wszystkie dane</h3>

		<p class="profile__description">
			Jeśli chcesz usunąć tylko swoje dane i ustawic je od nowa kliknij w
			przycisk poniżej. Ta operacja jest <strong>nieodwracalna</strong>.
		</p>

		<button (click)="deleteUserData()" class="btn btn--danger btn--block">
			Usuń
		</button>
	</section> -->
</section>
