<section class="profile" *ngIf="data$ | async as data">
	<h2 class="profile__heading">Witaj, {{ data.user.name }} !</h2>

	<section
		class="profile__section"
		*ngIf="!data.period.date.end; else reOpenPeriod"
	>
		<h3 class="profile__heading">Zakończ obecny okres rozliczeniowy</h3>

		<p class="profile__description paragraph-small paragraph-subtle">
			Jeśli chcesz ręcznie zakończyc obecny okres rozliczeniowy kliknij w
			przcisk poniżej. Masz czas do północy aby otworzyc go ponownie.
		</p>

		<button (click)="endPeriod()" class="btn btn--secondary btn--block">
			Zakończ
		</button>
	</section>

	<ng-template #reOpenPeriod>
		<section class="profile__section">
			<h3 class="profile__heading">
				Ponownie otwórz obecny okres rozliczeniowy
			</h3>

			<p class="profile__description paragraph-small paragraph-subtle">
				Jeśli zakończyłeś obecny okres rozliczeniowy, możesz otworzyć go
				ponownie przyciskiem poniżej. Pamięta, że masz czas do północy.
			</p>

			<button (click)="openPeriod()" class="btn btn--secondary btn--block">
				Otwórz
			</button>
		</section>
	</ng-template>

	<section class="profile__section">
		<h3 class="profile__heading">Wyloguj się</h3>

		<p class="profile__description paragraph-small paragraph-subtle">
			Wyloguj się z obecnego konta.
		</p>

		<button class="btn btn--warning btn--block" (click)="logOut()">
			Wyloguj się
		</button>
	</section>

	<section class="profile__section">
		<h3 class="profile__heading">Ustawienia</h3>

		<p class="profile__description paragraph-small paragraph-subtle">
			Jeśli chcesz dokonac zmian w działaniu aplikacji, kliknij w przycisk
			poniżej.
		</p>

		<a [routerLink]="Pages.AppSettings" class="link">Ustawienia</a>
	</section>

	<section class="profile__section">
		<h3 class="profile__heading">Zestawienie wydatków</h3>

		<p class="profile__description paragraph-small paragraph-subtle">
			Zobacz zestawienie swoich wydatków z wcześniejszych okresów.
		</p>

		<a [routerLink]="Pages.Periods" class="link">Okresy rozliczeniowe</a>
	</section>
</section>
