@import '../../sass/utils/functions';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';


.profile {


  &__heading {
    margin: rem(20px) 0px;
    font-weight: 500;

    &:is(h2) {
      font-weight: rem(24px);
    }

    &:is(h3) {
      color: $textLighterColor;
      font-weight: rem(18px);

    }
  }

  &__description {
    margin-bottom: rem(20px);
    color: $textLighterColor;
    font-weight: rem(14px);

  }

  &__section {
    margin-bottom: rem(50px);
  }
}
