@import '../../sass/utils/functions';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

:host {
  display: block;

  p {
    margin-bottom: 10px;
  }
}

.form-errors {
  position: relative;

  &__error {
    color: var(--color-danger);
    font-size: rem(14px);
  }
}
