@import '../../sass/utils/functions';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.settings {
	&__item {
		display: block;
		margin-bottom: rem(20px);
	}

	&__select {
		width: 100%;
	}
}

.zippy-content {
	padding: 2px;
}

::ng-deep .mat-form-field-wrapper {
	margin-bottom: -1.25em;
}
