<form [formGroup]="form" class="settings">
	<mat-form-field class="settings__select" appearance="fill">
		<mat-label>Automatycznie zakończ za</mat-label>
		<mat-select formControlName="autoEndAfter">
			<mat-option> Wybierz </mat-option>
			<mat-option value="7"> Tydzień </mat-option>
			<mat-option value="30"> Miesiąc </mat-option>
		</mat-select>
	</mat-form-field>

	<p class="settings__description settings__item">
		Okres zostanie automatycznie zakończony za wybraną ilość dni, licząc od daty
		rozpoczęcia obecnego
	</p>

	<a class="settings__item link" routerLink="/manage-groups"
		>Zarządzaj grupami</a
	>

	<p class="settings__description settings__item">
		Dodawaj i usuwaj grupy transakcji.
	</p>
</form>
