@import '../../sass/utils/functions';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.settings {

  &__description {
    color: $textLighterColor;
    font-size: rem(12px);
    font-weight: 400;
    margin-bottom: rem(20px);
    display: block;
  }

  p#{&}__item,
  h3#{&}__item {
    margin-top: rem(10px);
  }

  label#{&}__item {
    display: block;
    margin-bottom: rem(20px);
  }

  button#{&}__item {
    margin-bottom: rem(20px);
  }

  &__select {
    width: 100%;
  }
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}
