@import '../../sass/utils/functions';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.settings {

  label#{&}__item {
    display: block;
    margin-bottom: rem(20px);
  }

  &__select {
    width: 100%;
  }
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}
