<ng-container *ngIf="user$ | async as user">
	<form [formGroup]="form" class="settings" (ngSubmit)="updateSettings()">
		<zippy [isExpanded]="form.get('autoEndPeriod').value" [autoToggle]="false">
			<checkbox class="settings__item" formControlName="autoEndPeriod"
				>Automatycznie zakańczaj bierzące okresy.</checkbox
			>

			<zippy-content>
				<div class="zippy-content">
					<form-field>
						<form-field-label>Częstotliwość</form-field-label>

						<app-select formControlName="autoEndAfter">
							<select-option value="">Wybierz</select-option>
							<select-option [value]="7">Tydzień</select-option>
							<select-option [value]="30">Miesiąc</select-option>
						</app-select>
					</form-field>

					<p class="settings__description settings__item paragraph-description">
						Okres zostanie automatycznie zakończony za wybraną ilość dni, licząc
						od daty rozpoczęcia obecnego.
					</p>
				</div>
			</zippy-content>
		</zippy>
	</form>

	<section class="settings">
		<section class="settings__item">
			<a class="settings__item link" [routerLink]="Pages.ManageGroups"
				>Zarządzaj grupami</a
			>

			<p class="settings__description paragraph-description">
				Dodawaj i usuwaj grupy transakcji.
			</p>
		</section>

		<section class="settings__item">
			<form-field>
				<form-field-label>Motyw</form-field-label>

				<app-select [formControl]="theme">
					<select-option value="light">Jasny</select-option>
					<select-option value="dark">Ciemny</select-option>
					<select-option value="auto">Motyw urządzenia</select-option>
				</app-select>
			</form-field>

			<p class="settings__description paragraph-description">
				Zmień motyw aplikacji.
			</p>
		</section>
	</section>
</ng-container>
