.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &--block {
    width: 100%;
  }

  &--secondary {
    @include buttonTheme($colorSecondary, $textOnSecondaryColor)
  }

  &--danger {
    @include buttonTheme($colorDanger, $textOnDangerColor)
  }

  &--google {
    background-color: #4285F4;
    border-radius: rem(3px);
    height: rem(60px);
    color: #FFF;
    font-size: rem(18px);
    font-weight: 500;
    position: relative;

    &::after {
      content: '';
      background-image: url('./assets/images/google_logo.png');
      height: rem(50px);
      width: rem(50px);
      position: absolute;
      top: rem(5px);
      left: rem(5px);
      background-color: #FFF;
      background-size: contain;
      border-radius: rem(3px);
    }
  }

  &--circle {
    background-color: $colorPrimary;
    color: $textOnPrimaryColor !important;
    width: rem(65px);
    height: rem(65px);
    border-radius: 100%;
    filter: drop-shadow(0px rem(4px) rem(10px) rgba(0, 0, 0, 0.25));
    text-align: center;
    line-height: rem(65px);
    font-size: rem(48px);
  }
}
