.styled-input {
  --border-color: #{$bgColorDark};
  --border-size: #{rem(1px)};

  @include hideNumberInputArrows();

  display: flex;
  align-items: center;
  position: relative;
  border-radius: rem(4px);
  padding: rem(15px);
  padding-left: rem(25px);
  background-color: $bgColorDarker;
  margin-top: rem(2px);
  box-shadow: 0px 0px 0px var(--border-size) var(--border-color);
  color: $textLighterColor;
  transition: box-shadow .1s linear;

  &--focused {
    --border-size: #{rem(3px)};
  }

  &--valid#{&}--touched {
    color: $colorSuccess;
    --border-color: #{$colorSuccess};
  }

  &--invalid#{&}--touched {
    --border-color: #{$colorError};
    color: $colorError;
  }

  &__suffix {
    padding-left: rem(10px);
    font-weight: bold;
    height: fit-content;
  }

  &__input {
    @include square();

    background-color: transparent;
    border: none;
    outline: none;
    padding-top: rem(15px);

    font: {
      size: rem(16px);
      weight: 500;
    }

    &.ng-touched.ng-invalid {
      color: inherit;
    }

    &::placeholder {
      color: transparent;
    }

    &:focus::placeholder,
    &:not(:placeholder-shown)::placeholder {
      color: inherit;
    }

    &:focus+.styled-input__label,
    &:not(:placeholder-shown)+.styled-input__label {
      transition: .2s ease-out;
      transform: scale(.8);
      top: rem(7px);
    }
  }

  &__label {
    @include centerElementAbsolute('vertically');

    font-weight: 500;
    margin-left: rem(25px);
    transition-property: transform top;
    transition: .2s ease-in;
    transform-origin: left top;
    cursor: text;
  }
}
