@mixin responsive-square {
	position: relative;
	padding-bottom: 100%;
	width: 100%;

	&__content {
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
}
