.ripple {
	position: relative;
	overflow: hidden;
	--ripple-x: 0px;
	--ripple-y: 0px;
	--ripple-size: 0px;
	--ripple-duration: 500ms;
	--ripple-color: var(--bg-color-0);
	opacity: 0.99;

	&::before {
		@include square(var(--ripple-size));
		content: '';
		top: var(--ripple-y);
		left: var(--ripple-x);
		position: absolute;
		background-color: var(--ripple-color);
		opacity: 0;
		border-radius: 100%;
		z-index: -1;
	}

	&--is-rippling::before {
		animation: ripple var(--ripple-duration) cubic-bezier(0, 0, 0.2, 1);
	}
}
