.ripple {
	position: relative;
	overflow: hidden;
	--ripple-x-pos: 0px;
	--ripple-y-pos: 0px;

	&::before {
		top: var(--ripple-y-pos);
		left: var(--ripple-x-pos);
		position: absolute;
		content: '';
		width: rem(50px);
		height: rem(50px);
		background-color: var(--bg-color-0);
		opacity: 0;
		border-radius: 100%;
		z-index: -1;
	}

	&--is-rippling::before {
		animation: ripple 500ms cubic-bezier(0, 0, 0.2, 1);
	}
}
