<!-- TODO: Rebuild it  -->

<section
	class="select"
	[ngClass]="isExpanded ? 'select--expanded' : 'select--hidden'"
>
	<div class="select__header" (click)="toggleSelect()">
		<span class="select__label"><ng-content select=".label"></ng-content></span>

		<button class="btn select__selected-item">
			{{ selectedOption?.view }}
		</button>

		<div
			class="select__icon"
			[@arrowAnimation]="isExpanded ? 'expanded' : 'hidden'"
		>
			<i class="fas fa-arrow-down"></i>
		</div>
	</div>

	<main>
		<ul
			class="select__items"
			[@listAnimation]="isExpanded ? 'expanded' : 'hidden'"
		>
			<ng-content select="app-select-item"></ng-content>
		</ul>
	</main>
</section>
