<div class="select">
	<button
		type="button"
		class="select__selected-option"
		aria-haspopup="listbox"
		[attr.aria-expanded]="isOpened"
		[attr.aria-labelledby]="labelId + ' ' + selectedOptionElID"
		[id]="selectedOptionElID"
	>
		{{ currentOption.value ? currentOption.displayValue : ' ' }}
	</button>

	<ng-template #selectDropdown>
		<div
			#dropdown
			id="select-dropdown"
			tabindex="-1"
			role="listbox"
			[attr.aria-activedescendant]="currentOption.id"
			[attr.aria-labelledby]="labelId"
			@dropdownAnimation
			class="select__options"
		>
			<ng-content select="select-option"></ng-content>
		</div>
	</ng-template>
</div>
