<section class="login">
	<h2 class="login__heading">Witaj w naszej aplikacji.</h2>

	<h3 class="login__heading">Wypełnij poniższe pola.</h3>

	<styled-input>
		<input styledInput type="number" step=".01" />
		<span class="label">Aktualny balans gotówki</span>
	</styled-input>

	<p class="login__description">
		Wprowadź aktualną ilośc dostępnych pieniędzy. Tej wartości nie można później
		zmienić.
	</p>

	<button class="btn btn--block btn--google">
		Zaloguj sie z Google
	</button>

	<p class="login__description">
		Kliknij w przycisk powyżej i postępuj z instrukcjami wyświetlanymi na
		ekranie.
	</p>
</section>
