@import '../../sass/utils/functions';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.summary {
  border-radius: rem(25px);
  box-shadow: rem(-3px) rem(4px) rem(7px) rgba(0, 0, 0, 0.25);
  display: grid;
  font-size: 1rem;

  &--big {
    grid-template: {
      areas:
        'title currency'
        'amount currency'
      ;
      rows: repeat(2, 1fr);
      columns: 3fr 1fr;
    }

    column-gap: rem(25px);
    padding: rem(30px);

    & .summary__icon {
      display: none;
    }
  }

  &--small {
    grid-template: {
      areas:
        'icon title'
        'icon amount'
      ;
      rows: repeat(2, 1fr);
      columns: rem(35px) minmax(rem(90px), auto);
    }

    row-gap: rem(5px);
    column-gap: rem(10px);
    padding: rem(15px) rem(10px);

    & .summary__currency {
      display: none;
    }

    & .summary__amount {
      font-size: rem(16px);
    }
  }

  &--primary {
    @include summaryCardTheme($colorPrimary, $textOnPrimaryColor, #6C6C6C);
  }

  &--secondary {
    @include summaryCardTheme($colorSecondary, $textOnSecondaryColor, $bgColorDarker);
  }

  &--danger {
    @include summaryCardTheme($colorDanger, $textOnDangerColor, $bgColorDarker);
  }

  &--success {
    @include summaryCardTheme($colorSuccess, $textOnSuccessColor, $bgColorDarker);
  }

  &--warning {
    @include summaryCardTheme($colorWarning, $textOnWarningColor, $textOnWarningColor);
  }

  &__title {
    grid-area: title;

    font: {
      size: rem(14px);
      weight: normal;
    }
  }

  &__amount {
    @include ellipsis();
    grid-area: amount;

    font: {
      size: rem(30px);
      weight: bold;
    }
  }

  &__currency {
    grid-area: currency;
    font-size: rem(40px);
    place-self: center;
  }

  &__icon {
    grid-area: icon;
    place-self: center;
    font-size: rem(26px);
  }
}
