@import './sass/utils/functions';
@import './sass/utils/variables';
@import './sass/utils/mixins';

.app {
	max-width: rem(768px);
	margin: 0px auto;
	position: relative;
}

::ng-deep router-outlet ~ * {
	position: absolute;
	display: block;
	width: 100%;
	left: 0px;
	top: calc(#{$mainHeaderHeight} + #{rem(10px)});
	padding : {
		left: max(#{$globalPadding}, env(safe-area-inset-left));
		right: max(#{$globalPadding}, env(safe-area-inset-right));
	}

	@supports (top: env(safe-area-inset-top)) {
		top: calc(#{$mainHeaderHeight} + env(safe-area-inset-top) + #{rem(10px)});
	}

	// When main nav is visible
	@media only screen and (max-width: $mainNavVisibilityBreakpoint) {
		padding-bottom: calc(
			#{$mainNavHeight} + env(safe-area-inset-bottom) + #{rem(10px)}
		);
	}
}
