@import './sass/utils/functions';
@import './sass/utils/variables';
@import './sass/utils/mixins';

.app {
	max-width: rem(768px);
	margin: 0px auto;
	position: relative;
}

::ng-deep router-outlet ~ * {
	padding: 0px rem(30px);
	display: block;
	width: 100%;
	position: absolute;
	top: rem(72px);
	left: 0px;

	@supports (top: env(safe-area-inset-top)) {
		top: calc(#{rem(72px)} + env(safe-area-inset-top));
	}
}
