@import './sass/utils/functions';
@import './sass/utils/variables';
@import './sass/utils/mixins';

.app {
  padding: 0px rem(30px);
  max-width: 768px;
  margin: 0px auto;
  margin-top: rem(72px);
}
