$colorPrimary: #171717;
$colorSecondary: #7E0CF5;
$colorDanger: #AF1B3F;
$colorSuccess: #0B6E4F;
$colorWarning: #FFC857;

$textOnPrimaryColor: #FFF;
$textOnSecondaryColor: #FFF;
$textOnDangerColor: #FFF;
$textOnSuccessColor: #FFF;
$textOnWarning: #171717;

$bgColor: #FFF;
$bgColorDarker: #F3F3F3;
$bgColorDark: #CFCFCF;

$textColor: #171717;
$textLighterColor: #909090;
