$colorPrimary: #171717;
$colorSecondary: #7e0cf5;
$colorDanger: #f44336;
$colorSuccess: #0b6e4f;
$colorWarning: #ffc857;

$textOnPrimaryColor: #fff;
$textOnSecondaryColor: #fff;
$textOnDangerColor: #fff;
$textOnSuccessColor: #fff;
$textOnWarningColor: #171717;

$bgColor0: #303030;
$bgColor1: lighten($bgColor0, 10%);
$bgColor2: lighten($bgColor0, 20%);

$textColor0: #ececec;
$textColor1: #a5a5a5;

$mainNavHeight: rem(72px);
$mainNavVisibilityBreakpoint: 769px;

$mainHeaderHeight: rem(72px);
