@import '../../sass/themes/theme';
@import 'utils/functions';
@import 'utils/variables';
@import 'utils/mixins';

.main-nav {
	z-index: $globalMaxZIndex;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: $mainNavHeight;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	box-sizing: content-box;
	padding-bottom: env(safe-area-inset-bottom);
	transform: translateY(calc(100% + env(safe-area-inset-bottom)));
	transition: transform 0.3s ease-out;

	@include elevation(24);

	&--shown {
		transition: transform 0.3s ease-in;
		transform: translateY(0%);
	}

	&__link {
		font-size: rem(12px);
		position: relative;
		padding-top: rem(35px);
		text-align: center;
		font-weight: 400;

		&--active {
			color: var(--color-secondary);
		}

		&::after {
			position: absolute;
			top: 0px;
			left: 50%;
			transform: translateX(-50%);
			font-size: rem(25px);
		}

		&--home::after {
			@include fontAwesomeIcon('\f015', 'free', 'solid');
		}

		&--profile::after {
			@include fontAwesomeIcon('\f007', 'free', 'solid');
		}

		&--periods::after {
			@include fontAwesomeIcon('\f073', 'free', 'regular');
		}

		&--settings::after {
			@include fontAwesomeIcon('\f013', 'free', 'solid');
		}

		&--add-transaction {
			--icon: '\f0fe';

			&::after {
				@include fontAwesomeIcon(var(--icon), 'free', 'solid');
			}
		}

		@media only screen and (max-width: 375px) {
			font-size: rem(10px);
			padding-top: rem(32px);

			&::after {
				font-size: rem(23px);
			}
		}
	}

	@media only screen and (max-width: 375px) {
		&__action-btn {
			transform: scale(0.9);
		}
	}

	@media only screen and (min-width: $mainNavVisibilityBreakpoint) {
		display: none;
	}
}
