@import '../../sass/utils/functions';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

@mixin is-snappable {
	&--is-snapping {
		transition: transform 0.2s ease-in-out;
	}
}

:host {
	display: block;
	overflow: hidden;

	// Safari needs this rule to properly animate translate if the wrapper has border radius.
	mask-image: radial-gradient(white, black);
}

:host ::ng-deep button.swipe-actions__action {
	@extend .swipe-actions__action;
}

:host ::ng-deep button.swipe-actions__action--left {
	@extend .swipe-actions__action--left;
}

:host ::ng-deep button.swipe-actions__action--right {
	@extend .swipe-actions__action--right;
}

:host ::ng-deep button.swipe-actions__action--is-snapping {
	@extend .swipe-actions__action--is-snapping;
}

.swipe-actions {
	overflow: hidden;
	position: relative;

	&__action {
		@include is-snappable();
		border: none;
		color: inherit;
		font-family: inherit;
		font-size: 1.3rem;
		outline: none;
		display: block;
		width: 100%;
	}

	&__side {
		position: absolute;
		top: 0px;
		height: 100%;
		display: flex;
		justify-content: space-around;

		&--left {
			left: 0px;
		}

		&--right {
			right: 0px;
		}
	}

	&__front {
		@include is-snappable();
		transform: translateX(0);
	}
}
