<div
	class="swipe-actions"
	#container
	(pan)="onPanMove($event)"
	(panstart)="onPanStart()"
	(panend)="onPanEnd($event)"
>
	<div
		*ngIf="canShowLeft"
		class="swipe-actions__side swipe-actions__side--left"
		[style.width]="threshold * 100 + '%'"
	>
		<ng-content select="[swipe-action-left]"></ng-content>
	</div>

	<div
		*ngIf="canShowRight"
		class="swipe-actions__side swipe-actions__side--right"
		[style.width]="threshold * 100 + '%'"
	>
		<ng-content select="[swipe-action-right]"></ng-content>
	</div>

	<div class="swipe-actions__front" #front>
		<ng-content></ng-content>
	</div>
</div>
