<div *ngIf="data$ | async as data; else loadingPlaceholder">
	<div class="summary-cards">
		<summary-card theme="primary" type="big" class="summary-cards__balance">
			<ng-container class="title">Aktualny balans</ng-container>
			<ng-container class="amount">{{
				data.user.balance | currency: ' '
			}}</ng-container>
			<ng-container class="currency">PLN</ng-container>
		</summary-card>

		<ng-container *ngIf="data.transactions.length">
			<summary-card theme="danger" type="small" class="summary-cards__outcomes">
				<ng-container class="title">Wydatki</ng-container>
				<ng-container class="amount">{{
					outcomes | currency: ' '
				}}</ng-container>
				<ng-container class="icon">
					<i class="fas fa-long-arrow-alt-down"></i>
				</ng-container>
			</summary-card>

			<summary-card theme="success" type="small" class="summary-cards__incomes">
				<ng-container class="title">Przychody</ng-container>
				<ng-container class="amount">{{
					incomes | currency: ' '
				}}</ng-container>
				<ng-container class="icon">
					<i class="fas fa-long-arrow-alt-up"></i>
				</ng-container>
			</summary-card>

			<summary-card
				theme="secondary"
				type="small"
				class="summary-cards__savings"
			>
				<ng-container class="title">Zaoszczędzono</ng-container>
				<ng-container class="amount">{{
					savings | currency: ' '
				}}</ng-container>
				<ng-container class="icon">
					<i class="fas fa-piggy-bank"></i>
				</ng-container>
			</summary-card>
		</ng-container>
	</div>

	<section
		class="transactions"
		*ngIf="data.transactions.length; else noTransactionsClue"
	>
		<h2 class="transactions__heading">Wydatki w tym okresie</h2>

		<section
			class="transactions__group"
			*ngFor="let transactions of data.transactions"
		>
			<h3 class="transactions__heading">
				{{ isToday(transactions[0]) ? 'Dzisiaj' : (transactions[0] | date) }}
			</h3>

			<ul>
				<li
					class="transactions__transaction"
					*ngFor="let transaction of transactions[1]"
				>
					<swipe-actions class="swipe-actions">
						<button
							class="swipe-actions__action--delete"
							swipe-action-right
							(click)="deleteTransaction(transaction.id)"
						>
							<i class="fas fa-trash-alt"></i>
						</button>

						<a [routerLink]="[Pages.ManageTransaction, transaction.id]"
							><transaction-card
								cancel-side-effects
								[transaction]="transaction"
							></transaction-card
						></a>
					</swipe-actions>
				</li>
			</ul>
		</section>
	</section>

	<ng-template #noTransactionsClue>
		<clue class="home__clue" imgSrc="/assets/images/no_data_1.svg">
			Dodaj pierwszą transakcję, klikając przycisk z plusem.
		</clue>
	</ng-template>
</div>

<ng-template #loadingPlaceholder>
	<div class="summary-cards">
		<summary-card
			displayPlaceholder="true"
			theme="primary"
			type="big"
			class="summary-cards__balance"
		>
		</summary-card>

		<summary-card
			displayPlaceholder="true"
			theme="danger"
			type="small"
			class="summary-cards__outcomes"
		>
			<span class="icon">
				<i class="fas fa-long-arrow-alt-down"></i>
			</span>
		</summary-card>

		<summary-card
			displayPlaceholder="true"
			theme="success"
			type="small"
			class="summary-cards__incomes"
		>
			<span class="icon">
				<i class="fas fa-long-arrow-alt-up"></i>
			</span>
		</summary-card>

		<summary-card
			displayPlaceholder="true"
			theme="secondary"
			type="small"
			class="summary-cards__savings"
		>
			<span class="icon">
				<i class="fas fa-piggy-bank"></i>
			</span>
		</summary-card>
	</div>

	<section class="transactions transactions--ghost">
		<h2 class="transactions__heading"></h2>

		<section class="transactions__group">
			<h3 class="transactions__heading"></h3>

			<transaction-card [displayPlaceholder]="true"></transaction-card>
		</section>
	</section>
</ng-template>

<a
	appButton
	btnType="fab"
	btnColor="secondary"
	aria-label="Dodaj nową transakcje"
	class="home__add-transaction"
	[routerLink]="Pages.AddTransaction"
	><i class="fas fa-plus"></i
></a>
