<div class="summary-cards">
	<summary-card theme="primary" type="big" class="summary-cards__balance">
		<span class="title">Aktualny balans</span>
		<span class="amount">12 000.35</span>
		<span class="currency">PLN</span>
		<span class="icon">
			<i class="fas fa-coins"></i>
		</span>
	</summary-card>

	<summary-card theme="danger" type="small" class="summary-cards__outcomes">
		<span class="title">Wydatki</span>
		<span class="amount">1689.33</span>
		<span class="currency">PLN</span>
		<span class="icon">
			<i class="fas fa-long-arrow-alt-down"></i>
		</span>
	</summary-card>

	<summary-card theme="success" type="small" class="summary-cards__incomes">
		<span class="title">Przychody</span>
		<span class="amount">2634.33</span>
		<span class="currency">PLN</span>
		<span class="icon">
			<i class="fas fa-long-arrow-alt-up"></i>
		</span>
	</summary-card>

	<summary-card theme="secondary" type="small" class="summary-cards__savings">
		<span class="title">Zaoszczędzono</span>
		<span class="amount">945.00</span>
		<span class="currency">PLN</span>
		<span class="icon">
			<i class="fas fa-piggy-bank"></i>
		</span>
	</summary-card>
</div>
