<div *ngIf="groups$ | async as groups">
	<ul class="groups" *ngIf="groups.length; else noGroupsClue">
		<li
			class="groups__group"
			*ngFor="let group of groups; trackBy: trackBy"
			@groupAnimation
		>
			<transaction-group
				[group]="group"
				[isEditable]="true"
			></transaction-group>
		</li>
	</ul>

	<ng-template #noGroupsClue>
		<figure class="clue groups__clue">
			<img
				src="/assets/images/no_data_2.svg"
				alt="Nie znaleziono grup"
				class="clue__image"
			/>
			<figcaption class="clue__caption">
				Nie znaleziono żadnych group. Dodaj nowe przyciskiem w prawym dolnym
				rogu ekranu.
			</figcaption>
		</figure>
	</ng-template>
</div>

<a
	aria-label="Dodaj nową grupę"
	class="btn btn--circle groups__add"
	[routerLink]="Pages.AddGroup"
	>+</a
>
