@import '../../sass/utils/functions';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.groups {

  &__group {
    margin-bottom: rem(20px);
  }

  &__add {
    position: fixed;
    right: rem(30px);
    bottom: rem(40px)
  }

  &__clue {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
