@import '../../sass/utils/functions';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.groups {
	&__group {
		&:not(:last-child) {
			margin-bottom: rem(20px);
		}
	}

	&__add {
		position: fixed;
		right: rem(30px);
		bottom: rem(40px);
	}
}
