<ng-container *ngIf="groups$ | async as groups; else loader">
	<ul class="groups" *ngIf="groups.length; else noGroupsClue">
		<li
			class="groups__group"
			*ngFor="let group of groups; trackBy: trackBy"
			@groupAnimation
		>
			<transaction-group
				[group]="group"
				[isEditable]="true"
			></transaction-group>
		</li>
	</ul>

	<ng-template #noGroupsClue>
		<clue imgSrc="/assets/images/no_data_2.svg" [isFixed]="true">
			Nie znaleziono żadnych group. Dodaj nową grupę za pomocą przycisku z
			plusem.
		</clue>
	</ng-template>
</ng-container>

<a
	aria-label="Dodaj nową grupę"
	class="btn btn--circle groups__add"
	[routerLink]="Pages.AddGroup"
	>+</a
>

<ng-template #loader>
	<loader [isFixed]="true"></loader>
</ng-template>
