@import '../../sass/utils/functions';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.transaction {
	&__detail {
		margin-bottom: rem(5px);
		width: 100%;
	}

	&__error {
		margin-bottom: rem(15px);
		display: block;
	}

	&__action {
		margin-bottom: rem(20px);
		width: 100%;
	}
}
