<form
	[formGroup]="form"
	class="transaction"
	*ngIf="data$ | async as data; else loader"
>
	<form-field>
		<input formFieldInput type="number" formControlName="amount" />
		<form-field-label>Wartość</form-field-label>
	</form-field>

	<ng-container *ngIf="data.groups.length; else noGroupsInfo">
		<form-field>
			<form-field-label> Grupa </form-field-label>

			<app-select formControlName="group">
				<select-option value="">Wybierz</select-option>
				<select-option *ngFor="let group of data.groups" [value]="group.id">{{
					group.name
				}}</select-option>
			</app-select>
		</form-field>
	</ng-container>

	<ng-template #noGroupsInfo>
		<a
			class="link link--warning transaction__error"
			[routerLink]="Pages.AddGroup"
			>Dodaj grupę, aby zmienic aktualną !</a
		>
	</ng-template>

	<form-field>
		<input
			formFieldInput
			[datepicker]="datepicker"
			[min]="data.period.date.start.toDate()"
			type="text"
			formControlName="date"
		/>

		<datepicker #datepicker></datepicker>

		<form-field-label>Data transakcji</form-field-label>
		<form-field-prefix>
			<button
				[triggerDatepicker]="datepicker"
				type="button"
				appButton
				btnType="icon"
			>
				<i class="fas fa-calendar-alt"></i>
			</button>
		</form-field-prefix>
	</form-field>

	<form-field>
		<input formFieldInput type="text" formControlName="description" />
		<form-field-label>Opis transakcji</form-field-label>
	</form-field>

	<div class="transaction__actions">
		<button
			appButton
			btnColor="primary"
			(click)="update()"
			class="transaction__action"
		>
			Zaktualizuj
		</button>

		<button
			appButton
			btnColor="danger"
			(click)="delete()"
			class="transaction__action"
		>
			Usuń
		</button>
	</div>

	<files
		(onFileRemove)="deleteAttachment($event)"
		(onFileAdd)="addAttachment($event)"
		[formArray]="attachments"
	></files>
</form>

<ng-template #loader>
	<loader [isFixed]="true"></loader>
</ng-template>
