<form [formGroup]="form" class="transaction" *ngIf="groups$ | async as groups">
	<styled-input class="transaction__detail" appearance="filled">
		<input formErrors styledInput type="number" formControlName="amount" />
		<span styledInputSuffix>PLN</span>
		<span class="label">Wartość</span>
	</styled-input>

	<form-errors
		class="transaction__error"
		[control]="form.get('amount')"
	></form-errors>

	<mat-form-field class="transaction__detail" appearance="fill">
		<mat-label>Grupa</mat-label>
		<mat-select formControlName="group">
			<mat-option> Wybierz </mat-option>
			<mat-option *ngFor="let group of groups" [value]="group.id">
				{{ group.name }}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<form-errors
		class="transaction__error"
		[control]="form.get('group')"
	></form-errors>

	<mat-form-field class="transaction__detail" appearance="fill">
		<mat-label>Wybierz datę</mat-label>
		<input matInput [matDatepicker]="picker" formControlName="date" />
		<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-datepicker #picker></mat-datepicker>
	</mat-form-field>

	<form-errors
		class="transaction__error"
		[control]="form.get('date')"
	></form-errors>

	<styled-input class="transaction__detail" appearance="filled">
		<textarea
			formErrors
			styledInput
			type="text"
			formControlName="description"
		></textarea>
		<span class="label">Opis transakcji</span>
	</styled-input>

	<form-errors
		class="transaction__error"
		[control]="form.get('description')"
	></form-errors>

	<div class="transaction__actions">
		<button
			[disabled]="form.invalid"
			(click)="update()"
			class="btn btn--secondary btn--block transaction__action"
		>
			Zaktualizuj
		</button>

		<button class="btn btn--danger btn--block transaction__action">
			Usuń
		</button>
	</div>
</form>
