<section class="datepicker">
	<header class="datepicker__header">
		<button
			appButton
			btnType="stroked"
			type="button"
			class="datepicker__choose-date"
			(click)="onMainBtnClick()"
		>
			{{ date | date: 'dd MMM yyyy' | uppercase }}
			<i class="fas fa-caret-down"></i>
		</button>

		<div class="datepicker__nav">
			<button
				appButton
				btnType="icon"
				type="button"
				class="datepicker__nav-btn datepicker__nav-btn--prev"
				[disabled]="!canGeneratePrev"
				(click)="prev()"
			>
				<i class="fas fa-angle-left"></i>
			</button>

			<button
				appButton
				btnType="icon"
				type="button"
				class="datepicker__nav-btn datepicker__nav-btn--next"
				[disabled]="!canGenerateNext"
				(click)="next()"
			>
				<i class="fas fa-angle-right"></i>
			</button>
		</div>
	</header>

	<main class="datepicker__main">
		<table class="table">
			<thead>
				<tr class="table__row" *ngIf="hasHeadData">
					<th class="table__cell" *ngFor="let data of headData">
						{{ data }}
					</th>
				</tr>
			</thead>

			<tbody>
				<tr class="table__row" *ngFor="let row of data">
					<td
						*ngFor="let cell of row"
						class="table__cell"
						[ngClass]="{
							'table__cell--selected': isSelected(cell),
							'table__cell--disabled': !isSelectable(cell)
						}"
						(click)="onCellClick(cell)"
					>
						{{ cell || '' }}
					</td>
				</tr>
			</tbody>
		</table>
	</main>
</section>
