<section class="datepicker">
	<header class="datepicker__header">
		<button
			type="button"
			class="datepicker__choose-date btn btn--empty"
			(click)="onMainBtnClick()"
		>
			{{ date | date: 'dd MMM yyyy' | uppercase }}
			<i class="fas fa-caret-down"></i>
		</button>

		<div class="datepicker__nav">
			<button
				type="button"
				class="btn btn--empty datepicker__nav-btn"
				(click)="prev()"
			>
				<i class="fas fa-angle-left"></i>
			</button>

			<button
				type="button"
				class="btn btn--empty datepicker__nav-btn"
				(click)="next()"
			>
				<i class="fas fa-angle-right"></i>
			</button>
		</div>
	</header>

	<main class="datepicker__main">
		<table class="table">
			<thead>
				<tr *ngIf="page.hasHeadData">
					<th *ngFor="let data of page.headData">{{ data }}</th>
				</tr>
			</thead>

			<tbody>
				<tr *ngFor="let row of page.data">
					<td
						*ngFor="let cell of row"
						[ngClass]="{
							'table__cell--chosen': isSelected(cell)
						}"
						(click)="onCellClick(cell)"
					>
						{{ cell || '' }}
					</td>
				</tr>
			</tbody>
		</table>
	</main>
</section>

{{ date | json }}
