@import 'utils/functions';
@import 'utils/variables';
@import 'utils/mixins';

.datepicker {
	background-color: var(--bg-color-1);
	border-radius: rem(3px);

	&__header {
		padding: rem(20px);
		display: flex;
		justify-content: space-between;
	}

	&__nav-btn {
		&:first-child {
			margin-right: rem(20px);
		}
	}
}

.table {
	border-collapse: collapse;
	width: 100%;

	&__cell {
		&--chosen {
			box-shadow: inset 0px 0px 0px rem(2px) var(--color-warning);
		}
	}

	& th,
	& td {
		text-align: center;
		border: rem(1px) solid var(--bg-color-2);
		padding: rem(20px) 0px;
		cursor: pointer;

		&:hover {
			background-color: var(--bg-color-3);
		}

		&:last-child {
			border-right: none;
		}

		&:first-child {
			border-left: none;
		}
	}

	& tr:last-child td {
		border-bottom: none;
	}
}
