<div class="drop-area__previews">
	<label class="add-files">
		<div class="add-files__content">
			<input
				class="add-files__input"
				type="file"
				[accept]="allowedTypes.join(',')"
				[multiple]="multiple"
				(change)="handleInputChange($event)"
			/>

			<div class="add-files__icon"></div>
			<p class="add-files__description">Kliknij, aby dodać załącznik</p>
		</div>
	</label>

	<file
		*ngFor="let control of formArray.controls"
		[formControl]="control"
		(onRemove)="onFileRemove.emit($event)"
	></file>
</div>

<div class="overlay" [class.overlay--error]="false" *ngIf="isOverlayShown">
	<i class="fas fa-file-upload overlay__icon"></i>
	<p class="overlay__message">Upuść, aby dodać pliki.</p>
</div>
