@import 'utils/functions';
@import 'utils/variables';
@import 'utils/mixins';
@import '../../../sass/components/responsive-square';
@import '../file-input';

$padding: rem(20px);

:host {
	@extend .drop-area;
}

:host(.is-overlay-shown) .drop-area__previews * {
	pointer-events: none;
}

.overlay {
	display: grid;
	row-gap: rem(20px);
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: hsla(0, 0%, 0%, 0.5);
	pointer-events: none;
	text-align: center;
	border-radius: $border-radius;
	filter: blur(0.5);
	backdrop-filter: blur(2px);

	&__message {
		font-weight: bold;
		font-size: rem(22px);
		margin: 0px;
		align-self: flex-start;
	}

	&__icon {
		font-size: rem(36px);
		align-self: flex-end;
	}
}

.drop-area {
	display: block;
	position: relative;
	border: rem(3px) dashed var(--bg-color-6);
	border-radius: $border-radius;

	&__previews {
		pointer-events: none;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(#{rem(100px)}, 1fr));
		gap: rem(20px);
		padding: $padding;

		& * {
			pointer-events: all;
		}
	}
}

.add-files {
	@include responsive-square;
	border-radius: $border-radius;
	overflow: hidden;
	cursor: pointer;
	border: $border;
	display: block;

	&__icon {
		background-image: url('/assets/files-icons/add-file.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		height: 60%;
		align-self: center;
	}

	&__input {
		position: absolute;
		transform: scale(0);
	}

	&__content {
		text-align: center;
		display: grid;
		place-items: center;
		grid-template-rows: 2fr 1fr;
		row-gap: rem(10px);
		padding: rem(5px);
	}

	&__description {
		font-size: rem(12px);
		margin: 0px;
		padding: 0px;
	}

	&__loader {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
