<form [formGroup]="form" class="group">
	<form-field>
		<input formFieldInput type="text" formControlName="name" />
		<form-field-label>Nazwa</form-field-label>
	</form-field>

	<form-field>
		<input formFieldInput type="text" formControlName="icon" />
		<form-field-label>Ikona</form-field-label>
	</form-field>

	<h2 class="group__heading">Podgląd</h2>

	<transaction-card
		class="group__transaction-preview"
		[transaction]="transaction"
	></transaction-card>

	<button
		(click)="add()"
		class="btn btn--secondary btn--block"
		[disabled]="form.invalid"
	>
		Zapisz
	</button>
</form>
