<form [formGroup]="form" class="group">
	<styled-input>
		<input formErrors styledInput type="text" formControlName="name" />
		<span class="label">Nazwa</span>
	</styled-input>

	<form-errors class="group__errors" [control]="form.get('name')"></form-errors>

	<styled-input>
		<input formErrors styledInput type="text" formControlName="icon" />
		<span class="label">Ikona</span>
	</styled-input>

	<form-errors class="group__errors" [control]="form.get('icon')"></form-errors>

	<h2 class="group__heading">Podgląd</h2>

	<transaction-card
		class="group__transaction-preview"
		[transaction]="transaction"
	></transaction-card>

	<button
		(click)="add()"
		class="btn btn--secondary btn--block"
		[disabled]="form.invalid"
	>
		Zapisz
	</button>
</form>
