<div class="dashboard" *ngIf="data$ | async as data">
	<section class="card dashboard__card dashboard__card--big">
		<header class="card__header card__header--no-margin">
			<h2>Bierzący tydzień</h2>
		</header>

		<div class="card__body">
			<dashboard-current-week-chart
				[data]="data.week"
			></dashboard-current-week-chart>
		</div>
	</section>

	<section class="card">
		<header
			class="card__header"
			[class.card__header--no-margin]="data.periods.length > 0"
		>
			<h2>Ostatnie okresy</h2>
		</header>

		<div class="card__body">
			<periods-chart [data]="data.periods"></periods-chart>
		</div>
	</section>

	<div class="dashboard__subdashboard">
		<section class="card card--reversed">
			<header class="card__header">
				<h2>
					Zarobiono
					{{ data.current.incomes < data.last.incomes ? 'mniej' : 'więcej' }}
					niż miesiąc temu o
				</h2>
			</header>

			<div class="card__body">
				<p>
					{{ data.current.incomes - data.last.incomes | abs | currency: 'PLN' }}
				</p>
			</div>
		</section>

		<section class="card card--reversed">
			<header class="card__header">
				<h2>
					Wydano
					{{ data.current.incomes < data.last.incomes ? 'mniej' : 'więcej' }}
					niż miesiąc temu o
				</h2>
			</header>

			<div class="card__body">
				<p>
					{{
						data.current.expenses - data.last.expenses | abs | currency: 'PLN'
					}}
				</p>
			</div>
		</section>
	</div>

	<section class="card dashboard__card dashboard__card--big">
		<header class="card__header card__header--no-margin">
			<h2>Wydatki w grupach</h2>
		</header>

		<div class="card__body">
			<grouped-expenses-chart
				[data]="[
				{ value: 456.23, name: 'Jedzenie' },
				{ value: 356.23, name: 'Imprezy' },
				{ value: 326.23, name: 'Kosmetyki' },
				{ value: 236.23, name: 'Transport' },
				{ value: 756.23, name: 'Paliwo' },
				{ value: 126.23, name: 'Zwierzęta' },
			]"
			></grouped-expenses-chart>
		</div>
	</section>

	<section class="card card--reversed">
		<header class="card__header">
			<h2>Zarobiono w tym roku</h2>
		</header>

		<div class="card__body">
			<p>{{ data.year.incomes | currency: 'PLN' }}</p>
		</div>
	</section>

	<section class="card card--reversed">
		<header class="card__header">
			<h2>Wydano w tym roku</h2>
		</header>

		<div class="card__body">
			<p>{{ data.year.expenses | abs | currency: 'PLN' }}</p>
		</div>
	</section>

	<section class="card card--reversed">
		<header class="card__header">
			<h2>Zaoszczędzono w tym roku</h2>
		</header>

		<div class="card__body">
			<p>{{ data.year.incomes + data.year.expenses | currency: 'PLN' }}</p>
		</div>
	</section>
</div>
