@import '../../sass/utils/functions';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.header {
  display: grid;
  grid-template-columns: rem(50px) auto rem(40px);
  align-items: center;

  padding: rem(15px) 0px;
  font-size: rem(26px);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  background-color: #FFF;
  padding: rem(20px) rem(30px);
  width: 100vw;
  height: rem(72px);

  &__icon {

    &:last-child {
      justify-self: end;
    }
  }

  &__heading {
    font-weight: bold;
    font-size: inherit;
  }

  @media screen and (max-width: 425px) {

    &__heading {
      font-size: rem(18px);
    }
  }
}
