@import '../../sass/utils/functions';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.header {
	display: grid;
	grid-template-columns: rem(30px) auto rem(40px);
	align-items: center;
	background-color: var(--bg-color-0);
	font-size: rem(26px);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: $globalMaxZIndex;
	padding: rem(20px) $globalVerticalPadding;
	width: 100vw;
	height: rem(72px);
	margin-top: env(safe-area-inset-top);
	color: var(--text-color-0);

	&__user-avatar {
		@include square(rem(30px));
		border-radius: 100%;

		&:active {
			transform: scale(0.9);
		}
	}

	&__icon {
		&:last-child {
			justify-self: end;
		}
	}

	&__heading {
		font-weight: bold;
		font-size: inherit;
		margin-left: rem(20px);
		margin-bottom: 0px;
	}

	@media screen and (max-width: 425px) {
		&__heading {
			font-size: rem(18px);
		}
	}
}
