@import '../../sass/utils/functions';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.dialog {
	@include centerElementAbsolute();

	background-color: var(--bg-color-1);
	width: min(500px, 90%);
	padding: rem(25px);
	border-radius: rem(10px);

	&__actions {
		display: flex;
	}

	&__description {
		line-height: 1.4rem;
	}

	&__action {
		&:first-child {
			margin-right: rem(25px);
		}
	}
}
