* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	&::after,
	&::before {
		box-sizing: inherit;
	}
}

ul,
ol {
	list-style-type: none;
}

html,
body {
	height: 100%;
	margin: 0;
	background-color: var(--bg-color-0);
}

img {
	width: 100%;
	height: auto;
	display: block;
}

.mat-form-field-wrapper {
	margin-bottom: -1.25em;
}
