:root {
  font-size: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  font: {
    size: rem(30px);
    weight: 500;
  }

  margin-bottom: 1.5rem;
}

h2 {
  font: {
    size: rem(26px);
    weight: 500;
  }

  margin-bottom: 1.5rem;
}

h3 {
  font: {
    size: rem(18px);
    weight: 500;
  }

  margin-bottom: 1.5rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;

  &.paragraph-small {
    font-size: rem(14px);
  }

  &.paragraph-subtle {
    color: $textLighterColor;
  }

  &.paragraph-description {
    color: $textLighterColor;
    font-size: rem(14px);
    margin-top: rem(10px);
  }
}

textarea {
  font-family: inherit;
}

a,
a:link,
a:visited {
  color: currentColor;
  text-decoration: none;
}
