@import '../../sass/utils/functions';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';
@import '../../sass/utils/mediaBreakpoints';

.period {
	background-color: var(--color-primary);
	border-radius: rem(10px);
	color: var(--text-on-primary);
	padding: rem(20px) 0px;
	margin-bottom: rem(10px);

	&__date {
		font-weight: 500;
		font-size: rem(18px);
		margin-bottom: rem(10px);
		text-align: center;
	}

	&__icon {
		text-align: center;
		transition: transform 0.2s ease-in-out;

		&--expanded {
			transform: rotate(180deg);
		}

		&--collapsed {
			transform: rotate(0deg);
		}
	}

	&__details {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: rem(20px);
		row-gap: rem(20px);
		padding: 0px rem(20px);
	}

	@include respondTo('mobile-l', 'max') {
		&__details {
			grid-template-columns: 1fr;
		}
	}
}
