<section class="period">
	<zippy>
		<zippy-static>
			<h2 class="period__date">13.06.2020 - 13.07.2020</h2>

			<button class="btn">
				<i class="fas fa-chevron-down fa-lg"></i>
			</button>
		</zippy-static>
		<zippy-content>
			<ul>
				<li>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
					obcaecati numquam harum dolorem consequuntur molestias explicabo
					beatae reprehenderit iure libero fugit. Dolorem fugiat laborum
					temporibus nemo obcaecati placeat labore totam?
				</li>
				<li>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
					obcaecati numquam harum dolorem consequuntur molestias explicabo
					beatae reprehenderit iure libero fugit. Dolorem fugiat laborum
					temporibus nemo obcaecati placeat labore totam?
				</li>
				<li>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
					obcaecati numquam harum dolorem consequuntur molestias explicabo
					beatae reprehenderit iure libero fugit. Dolorem fugiat laborum
					temporibus nemo obcaecati placeat labore totam?
				</li>
				<li>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
					obcaecati numquam harum dolorem consequuntur molestias explicabo
					beatae reprehenderit iure libero fugit. Dolorem fugiat laborum
					temporibus nemo obcaecati placeat labore totam?
				</li>
				<li>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
					obcaecati numquam harum dolorem consequuntur molestias explicabo
					beatae reprehenderit iure libero fugit. Dolorem fugiat laborum
					temporibus nemo obcaecati placeat labore totam?
				</li>
				<li>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
					obcaecati numquam harum dolorem consequuntur molestias explicabo
					beatae reprehenderit iure libero fugit. Dolorem fugiat laborum
					temporibus nemo obcaecati placeat labore totam?
				</li>
				<li>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
					obcaecati numquam harum dolorem consequuntur molestias explicabo
					beatae reprehenderit iure libero fugit. Dolorem fugiat laborum
					temporibus nemo obcaecati placeat labore totam?
				</li>
				<li>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
					obcaecati numquam harum dolorem consequuntur molestias explicabo
					beatae reprehenderit iure libero fugit. Dolorem fugiat laborum
					temporibus nemo obcaecati placeat labore totam?
				</li>
				<li>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
					obcaecati numquam harum dolorem consequuntur molestias explicabo
					beatae reprehenderit iure libero fugit. Dolorem fugiat laborum
					temporibus nemo obcaecati placeat labore totam?
				</li>
			</ul>
		</zippy-content>
	</zippy>
</section>
