<zippy-list *ngIf="periods$ | async as periods; else loader">
	<ul *ngIf="periods.length; else noPeriodsFound">
		<li *ngFor="let period of periods">
			<section class="period">
				<zippy>
					<zippy-static>
						<h2 class="period__date">
							{{ period.date.start.toDate() | date }} -
							{{ period.date.end.toDate() | date }}
						</h2>

						<button
							class="btn btn--block period__icon no-ripple"
							[ngClass]="
								zippy.isExpanded
									? 'period__icon--expanded'
									: 'period__icon--collapsed'
							"
						>
							<i class="fas fa-chevron-down fa-lg"></i>
						</button>
					</zippy-static>
					<zippy-content
						#zippy
						[ngClass]="{ 'period--expanded': zippy.isExpanded }"
					>
						<ul class="period__details">
							<li>
								<summary-card type="small" theme="danger">
									<span class="title">Wydatki</span>
									<span class="amount">{{
										period.outcomes | currency: 'PLN'
									}}</span>
									<span class="icon">
										<i class="fas fa-long-arrow-alt-down"></i>
									</span>
								</summary-card>
							</li>

							<li>
								<summary-card type="small" theme="success">
									<span class="title">Przychody</span>
									<span class="amount">{{
										period.incomes | currency: 'PLN'
									}}</span>
									<span class="icon">
										<i class="fas fa-long-arrow-alt-up"></i>
									</span>
								</summary-card>
							</li>

							<summary-card type="small" theme="secondary">
								<span class="title">Zaoszczędzono</span>
								<span class="amount">{{
									period.incomes - period.outcomes | currency: 'PLN'
								}}</span>
								<span class="icon">
									<i class="fas fa-piggy-bank"></i>
								</span>
							</summary-card>

							<li>
								<summary-card type="small" theme="warning">
									<span class="title">Balans</span>
									<span class="amount">{{
										period.balance | currency: 'PLN'
									}}</span>
									<span class="icon">
										<i class="fas fa-coins"></i>
									</span>
								</summary-card>
							</li>
						</ul>
					</zippy-content>
				</zippy>
			</section>
		</li>
	</ul>
</zippy-list>

<ng-template #noPeriodsFound>
	<clue imgSrc="/assets/images/no_data_3.svg" [isFixed]="true">
		Nie znaleziono żadnych okresów rozliczeniowych.
	</clue>
</ng-template>

<ng-template #loader>
	<loader [isFixed]="true"></loader>
</ng-template>
